[Unit]
Description=Fumo bot

[Service]
ExecStart=/usr/bin/dotnet /opt/fumobot/Release/Fumo.BotService.dll /etc/fumo_bot.json
WorkingDirectory=/opt/fumobot/
SyslogIdentifier=FumoBot

Environment=FUMO_PROG_TYPE=bot

User=user

RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target