[Unit]
Description=Fumo website

[Service]
ExecStart=/usr/bin/dotnet /opt/fumobot/Release/Fumo.WebService.dll /etc/fumo_bot.json
WorkingDirectory=/opt/fumobot/Release
SyslogIdentifier=FumoWeb

Environment=FUMO_PROG_TYPE=web
Environment=ASPNETCORE_ENVIRONMENT=Production

User=user

RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target