[Unit]
Description=Update 7TV token every 5 minutes
OnFailure=failure-notification@%n.service

[Service]
Type=simple
User=fumobot
WorkingDirectory=/var/lib/fumobot
ExecStart=/usr/bin/env bash -c 'source /usr/local/bin/fumobot/Scripts/cron/.venv/bin/activate && exec /usr/local/bin/fumobot/Scripts/cron/SevenTVToken.py'